body {

}

div#wrapper {
    background-image: url(../img/fond.png);
    background-repeat: repeat-x;
}

div#header {
    height: 145px;
    background: #fff url('../img/banner_header.png') center center;
    
    position: relative;
}

div#header-menu {
    width: 999px;
    margin: auto;
}

div#header-menu ul {
    position: absolute;
    bottom: 0;
}

div#header-menu ul li {
    height: 33px;
    background-color: white;
    float: left;
}

div#header-menu ul li.menu-button {
    -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px; border-top-right-radius: 10px;
    
    margin-left: 5px;
}

div#header-menu ul li.accueil {    
    padding-top: 7px;
    height: 26px;
    
    width: 40px;
    margin-left: 0;
    text-align: center;
    background-color: #eee;
    -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px; border-top-right-radius: 5px;    
}

div#container {
    width: 999px;
    margin: auto;

}

div#sidebar-left {
    width: 271px;
    float: left;
}

div#content {
    width: 447px;
    float: left;
    margin-left: 5px;
}

div#content .widget-content.nos-services {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background-image: url(../img/nos_services_colonne.png);
}

div#content .widget-content.nos-services ul li {
    margin-left: 10px;
    padding: 10px 0px 10px 12px;
    background: url(../img/triangle_nos_services.png) no-repeat center left; 
}

div#content .widget-content.nos-services a {
    color: #fff;
}

div#sidebar-right {
    width: 271px;
    float: right;    
}

div#newsletter {
    color: #fff;    
    font-weight: bold;
    font-size: 14px;
    background-image: url(../img/emailing_colonne.png);
}

div#footer {
    clear: both;
    line-height: 115px;
    text-align: right;
    padding-right: 140px;
    color: #fff;
    background-image: url(../img/footer.png);
}

div#sub-menu {
    width: 999px;
    height: 32px;
    padding: 8px 0 0 30px;

    margin: auto;
    background: url(../img/barre_menu.png) no-repeat 50% -30px;
}

div#slide {
    margin-bottom: 10px;
}

div .widget-content {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

div .widget-content .last-news {
    color: #bd59a9;
    font-weight: bold;
    padding: 2px 0;
    display: block;
}


div .widget-normal {
    margin-bottom: 10px;
}

form .label {
    width: 100px;
    float: left;
}

a.blue {
    color: #2A5A88;
    text-decoration: underline;
}

span.not-signup {
    color: #B00090;
}

p.btn-espace {
    width: 80px;
    float: right;
}

p.create-account {
    padding-left: 10px;
}

label.persist {
    margin-left: 20px;
}

div#call-us {
    margin-bottom: 10px;
}

div#newsletter {
    height: 120px;
    width: 100%;
    overflow: auto;
}

div#newsletter .emailing-icon {
    margin: 20px;
    width: 95px;
    float: left;    
}

div#newsletter .accroche {
    margin: 20px;
}

label.contact-us {
    display: block;
    text-align: center;
}

p.content, h1.content {
    margin: 0px 10px 10px;
}

ul.content {
    list-style-type: square;
    margin: 0px 10px 10px 50px;
}

ol.content {
    margin: 0px 10px 10px 50px;
}

img.content {
    float: left;
    margin: 0px 10px 10px;
}